# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Environment variables
.env
.env.*
*.env

# Django
*.log
db.sqlite3
media/
staticfiles/

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Secrets
*.pem
*.key

# Node (if used)
node_modules/

# Build / cache
*.cache
*.tmp